#include <stdio.h>
#include <cs50.h>
#include <math.h>
// Takes num and returns type of credit card or invalid.

int main(void)
{
    // Get credit num and copy an extra in temp.
    long num = get_long("Number: ");
    long temp = num;

    // Find number of digits.
    int digits = log10l(num) + 1;

    // Find the sum total of every other digit in num * 2 plus 1 * the other digits.
    int total = 0;
    bool other = true;
    // Find first two digits on the way.
    int first_two;
    for (int i = 0; i < digits; i++)
    {
        if (i == digits - 2)
        {
            first_two = num;
        }
        // add every other digit x1, otherwise x2.
        if (other == true)
        {
            total += num % 10;
            other = false;
        }
        else
        {
            if (num % 10 * 2 > 9)
            {
                total += num % 10 * 2 % 10;
                total += num % 10 * 2 / 10;
            }
            else
            {
                total += num % 10 * 2;
            }
            other = true;
        }
        num /= 10;
    }

    // Prints whether the number is Amex, MasterCard, Visa, or invalid.
    // Must follow Luhn's Algorithm.
    if (total % 10 != 0)
    {
        printf("INVALID\n");
    }
    // If it does follow Luhn's Algorithm, check for Amex format.
    else if (digits == 15)
    {
        if (first_two == 34 || first_two == 37)
        {
            printf("AMEX\n");
        }
        else
        {
            printf("INVALID\n");
        }
    }
    // If not Amex, check for MasterCard and Visa.
    else if (digits == 13 || digits == 16)
    {
        if (digits == 16 && 50 < first_two && first_two < 56)
        {
            printf("MASTERCARD\n");
        }
        else
        {
            first_two /= 10;
            if (first_two == 4)
            {
                printf("VISA\n");
            }
            else
            {
                printf("INVALID\n");
            }
        }
    }
    // Cases that pass Luhn's algorithm but do not have 13, 15, or 16 digits.
    else
    {
        printf("INVALID\n");
    }
}
